<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <div class="form-container mt-4">
        <div class="border p-3 rounded" style="background-color: beige; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 
            <h5 class="text-center mb-4">Add country</h5>
            <form [formGroup]="countryForm" (ngSubmit)="postCountry()">
                
                <div class="file-upload-container">
                    <label class="file-upload-label" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                        <span style="color: white; cursor: pointer; background-color: dimgray;">Select File</span>
                        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
                    
                        <div *ngIf="selectedFile" class="image-preview mt-3" style="display: flex; justify-content: center;">
                            <div class="circle-image">
                                <img [src]="imagePreview" alt="Selected Image" class="preview-image img-fluid">
                            </div>
                        </div>
                    </label>
                </div>
                
                <div class="form-group">
                    <label for="country"></label>
                    <input [ngClass]="{'is-invalid': submitted && f.name.errors}" formControlName="name"
                        class="form-control" type="text" placeholder="Country name">
                    <div *ngIf="f.name.errors" class="invalid-feedback">
                        <div>
                            <i>Required name</i>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-block mt-2">Add</button>
                </div>
            </form>
        </div>
    </div>
    
    

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
