<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Africashop</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid  mt-100" *ngIf="!cartItems || cartItems.length === 0" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <div class="row">

           <div class="col-md-12">
               <div class="card mt-3">
               <div class="card-header">
               </div>
               <div class="card-body cart">
                       <div class="col-sm-12 empty-cart-cls text-center">
                           <img src="assets/img/cartEmpty.jpg" width="300" height="300" class="img-fluid mb-4 mr-3">
                           <h3><strong>Your Cart is Empty</strong></h3>
                           <h4>Add something to make me happy :)</h4>
                           <a routerLink="/member/dashboard" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                       </div>
               </div>
       </div>     
           
           </div>
        
        </div>
       
       </div>
    
    <div class="py-3 py-md-5 bg-light" *ngIf="cartItems && cartItems.length > 0" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="shopping-cart" >

                        <div class="cart-header d-none d-sm-none d-mb-block d-lg-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Products</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Price</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Quantity</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Remove</h4>
                                </div>
                            </div>
                        </div>
                       
                        <div class="cart-item" *ngFor="let c of cartItems" >
                            <div class="row">
                                <div class="col-md-6 my-auto">
                                    <a style=" color: blue;">
                                        <label class="product-name">
                                            <img [src]="c.processedImg"  alt="product-image" style="width: 50px; height: 50px;" alt="">
                                            {{c.productName}}
                                        </label>
                                    </a>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <label class="price">{{c.price}} € </label>
                                </div>
                                <div class="col-md-2 col-7 my-auto">
                                    <div class="quantity">
                                        <div class="input-group">
                                            <span class="btn btn1" *ngIf="c.quantity !== 1" (click)="decreaseQuantity(c.productId)"><i class="fa fa-minus"></i></span>
                                            <input type="text" value="{{c.quantity}}" class="input-quantity" />

                                            <span class="btn btn1"  (click)="increaseQuantity(c.productId)"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-5 my-auto">
                                    <div class="remove" style="color: white;" (click)="removeItem(c.productId)">
                                        <a  class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row justify-content-between">
                                <div class="col-md-4">
                                    <div class="card bg-dark text-white">
                                        <div class="card-body">
                                            <div class="total-price">
                                                Total Items: {{ quantity }}
                                            </div>
                                            <div class="total-price">
                                                Total Amount: {{ calculateTotalAmount() }} €
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center">
                                    <button *ngIf="cartItems.length !== 0" class="btn btn-success mt-3"  style="margin-left: 100px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Valider le panier</button> 
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>                        
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
