<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div
  *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn"
  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
>
  <div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-2 d-none d-md-block">
            <img src="assets/img/logo.png" alt="AFRICASHOP Logo" class="img-fluid" style="max-width: 150px;" />
          </div>
          <div class="col-md-10">
            <ul class="nav justify-content-end">
              <li class="nav-item mt-1">
                <select id="select5" (change)="onLanguageChange($event)" class="form-select form-select-sm" style="width: auto;">
                  <option value="en">English</option>
                  <option value="fr">French</option>
                </select>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="visitor/cart">
                  <i class="fa fa-shopping-cart"></i> {{ 'CART' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="visitor/wishlist">
                  <i class="fa fa-heart"></i> {{ 'WISHLIST' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="auth-pages/register" class="nav-link btn btn-success text-white">
                  {{ 'REGISTER' | translate }}
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="auth-pages/login" class="nav-link btn btn-success text-white ms-2">
                  {{ 'LOGIN' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand d-md-none" href="#">AFRICASHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" routerLink="visitor/home">
                <i class="fa fa-home me-2"></i> {{ 'HOME' | translate }}
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  class="fa fa-flag-o"
                  style="font-size: 20px; margin-right: 8px"
                ></i>
                {{'COUNTRIES' | translate}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container *ngFor="let c of countries">
                  <a
                    class="dropdown-item d-flex align-items-center"
                    [routerLink]="['/visitor/country-product/', c.id]"
                  >
                    <img
                      [src]="c.processedImg"
                      alt="Country Image"
                      class="country-image mr-2"
                      style="width: 20px; height: 20px"
                    />
                    <span class="country-name">{{ c.name }}</span>
                  </a>
                </ng-container>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" routerLink="visitor/coupon">
                <i class="fa fa-money me-2"></i> {{'COUPONS'  | translate}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" routerLink="visitor/tracking">
                <i class="fa fa-map-marker me-2"></i> {{'ORDERS_TRACKING'  | translate}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" routerLink="/visitor/blog">
                <i class="fa fa-newspaper-o me-2"></i> {{'Blog'  | translate }}
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="https://www.facebook.com" class="nav-link" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.twitter.com" class="nav-link" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com" class="nav-link" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.youtube.com" class="nav-link" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div
  *ngIf="isCustomerLoggedIn"
  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
>
  <div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-2 d-none d-md-block">
            <img src="assets/img/logo.png" alt="AFRICASHOP Logo" class="img-fluid" style="max-width: 150px;" />
          </div>
          
          <div class="col-md-10">
            <ul class="nav justify-content-end">
              
              <li class="nav-item mt-1">
                <select id="select5" (change)="onLanguageChange($event)" class="form-select form-select-sm" style="width: auto;">
                  <option value="en">English</option>
                  <option value="fr">French</option>
                </select>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="member/cart">
                  <i class="fa fa-shopping-cart"></i> {{ 'CART' | translate }}
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" routerLink="member/wishlist">
                  <i class="fa fa-heart"></i> {{ 'WISHLIST' | translate }}
                </a>
              </li>
                         <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/member/profile"  role="button" aria-expanded="false">
                    <i class="fa fa-user"></i> {{'PROFILE' | translate}}
                </a>
            </li>
            
          <li class="nav-item" >
            <button routerLink="auth-pages/login" class="nav-link" (click)="logout()" style="color: white; background-color: brown; border-radius: 5px;"  role="button" aria-expanded="false">
                {{'LOGOUT' | translate}}
            </button>
        </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <div class="container-fluid">
        <a class="navbar-brand d-md-none" href="#">AFRICASHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" routerLink="member/dashboard">
                <i class="fa fa-home me-2"></i> {{ 'HOME' | translate }}
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  class="fa fa-flag-o"
                  style="font-size: 20px; margin-right: 8px"
                ></i>
                {{'COUNTRIES' | translate}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container *ngFor="let c of countries">
                  <a
                    class="dropdown-item d-flex align-items-center"
                    [routerLink]="['/visitor/country-product/', c.id]"
                  >
                    <img
                      [src]="c.processedImg"
                      alt="Country Image"
                      class="country-image mr-2"
                      style="width: 20px; height: 20px"
                    />
                    <span class="country-name">{{ c.name }}</span>
                  </a>
                </ng-container>
              </div>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com" class="nav-link" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.twitter.com" class="nav-link" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com" class="nav-link" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.youtube.com" class="nav-link" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div *ngIf="isAdminLoggedIn">
  <div
    class="main-navbar shadow-sm sticky-top"
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    "
  >
    <div class="top-navbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
            <img
              src="assets/img/logo.png"
              alt="AFRICASHOP Logo"
              style="width: 150px"
            />
          </div>

          <div class="col-md-5 my-auto">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a routerLink="/admin/dashboard" class="nav-link" href="#">
                  <i class=""></i>Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/list-product" class="nav-link" href="#">
                  <i class=""></i>Shop products
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/category" class="nav-link" href="#">
                  <i class=""></i>Category
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/country" class="nav-link" href="#">
                  <i class=""></i>Country
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/product" class="nav-link" href="#">
                  <i class=""></i>Product
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/admin/coupon" class="nav-link" href="#">
                  <i class=""></i>Coupons
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/orders" class="nav-link" href="#">
                  <i class=""></i>Orders
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/blog" class="nav-link" href="#">
                  <i class=""></i>Blog
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/users" class="nav-link" href="#">
                  <i class=""></i>Users
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/admin/admin-profil"
                  role="button"
                  aria-expanded="false"
                >
                  <i class="fa fa-user"></i> Admin
                </a>
              </li>

              <li class="nav-item">
                <button
                  routerLink="auth-pages/login"
                  class="nav-link"
                  (click)="logout()"
                  style="
                    color: white;
                    background-color: brown;
                    border-radius: 5px;
                  "
                  role="button"
                  aria-expanded="false"
                >
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
