<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protection des Données</title>
    <link rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>PROTECTION DES DONNEES</h1>

        <h2>PRÉAMBULE</h2>
        <p>La présente charte – « La Charte » a été élaborée en vue de définir les engagements pour la protection des
            données et préciser la mise en place du Règlement Général de Protection des Données – « RGPD » au sein de la
            société – la « Société ».
            La Société accorde une importance toute particulière à la protection des données personnelles de ses salariés
            – les « Salariés »-, ses clients, ses partenaires, ainsi que des utilisateurs de ses sites internet et de
            ses applications mobiles. La Société informe des procédés de collecte des données personnelles, de leur
            utilisation ainsi que des options dont disposent les personnes concernées. Cette Charte pourra faire
            l’objet de modification par la Société en cas d’évolutions réglementaires, jurisprudentielles ou techniques.
            La Société respecte la loi « Informatique & Libertés» n° 78-17 du 6 janvier 1978 modifiée, ainsi que la loi
            «pour la confiance dans l’économie numérique» n° 2004-575 du 21 juin 2004, ainsi que le Règlement Général sur
            la Protection des Données, n° 2016/679 du 27 avril 2016. Ce Règlement Général sur la Protection des Données,
            n° 2016/679 du 27 avril 2016 est devenu applicable dans l’union européenne depuis le 25 mai 2018.</p>

        <h2>ARTICLE 1 – DÉFINITION</h2>
        <p>Le Règlement Général sur la Protection des Données concerne le traitement et la circulation des données à
            caractère personnel, ces informations sur lesquelles les entreprises s’appuient pour proposer des services
            et des produits. Il établit des règles relatives à la protection des personnes physiques à l’égard du
            traitement des données à caractère personnel et des règles relatives à la libre circulation de ces données.
            Il protège les libertés et droits fondamentaux des personnes physiques et en particulier leur droit à la
            protection des données à caractère personnel. Les principaux objectifs du RGPD sont d’accroître à la fois la
            protection des personnes concernées par un traitement de leurs données à caractère personnel et la
            responsabilisation des acteurs de ce traitement. L’objectif est également d’harmoniser la norme juridique
            européenne en matière de protection des données personnelles, afin qu’il n’y ait qu’un seul et même cadre
            s’appliquant à l’ensemble des États membres.</p>

        <h2>ARTICLE 2 – NOTION DE DONNÉES PERSONNELLES</h2>
        <p>Une donnée personnelle est une information qui permet d’identifier une personne physique, directement ou
            indirectement. Il peut s’agir d’un nom, d’une photographie, d’une adresse IP, d’un numéro de téléphone, d’un
            identifiant de connexion informatique, d’une adresse postale, d’une empreinte, d’un enregistrement vocal,
            d’un numéro de sécurité sociale, d’une adresse email, etc. Certaines données sont sensibles, car elles
            touchent à des informations qui peuvent donner lieu à de la discrimination ou des préjugés: une opinion
            politique, une sensibilité religieuse, un engagement syndical, une appartenance ethnique, une orientation
            sexuelle, une situation médicale ou des idées philosophiques sont des données sensibles. Elles ont un cadre
            particulier, qui interdit toute collecte préalable sans consentement écrit, clair et explicite, et pour des
            cas précis, validés par la Commission Nationale de l’Informatique et des Libertés –« CNIL» et dont l’intérêt
            public est avéré.</p>

        <h2>ARTICLE 3 – DONNÉES COLLECTÉES AU SEIN DE L’ENTREPRISE</h2>
        <p>La collecte des données personnelles fait l’objet d’une déclaration auprès de l’autorité française de
            protection des données personnelles, la CNIL. Les informations peuvent être collectées de façons
            différentes:</p>
        <ul>
            <li><strong>Le consentement:</strong> La Société ne collecte aucune donnée personnelle sans recueillir le
                consentement exprès et donner au préalable des informations concernant notamment le type de données
                collectées, leurs finalités, le responsable de leur traitement, et les différents droits que les
                personnes à l’origine des données sont à même d’exercer sur ces dernières.</li>
            <li><strong>Des visites du site internet:</strong> La Société peut également être amener à collecter des
                informations à l’occasion d’échanges diverses, ou auprès de sociétés externes via une application
                internet ou mobile dynamique et/ou interactive avec les internautes, Salariés ou non de la Société.</li>
            <li><strong>Des cookies:</strong> Les sites et services de la Société peuvent émettre des cookies. Ils
                permettent de reconnaître le terminal concerné à chaque fois que ce terminal accède à un contenu
                numérique comportant des cookies du même émetteur. Ils permettent aux services de fonctionner
                efficacement, et de se souvenir des préférences. Il y a tout de même une possibilité d’effacer les
                cookies stockés sur le terminal de connexion afin de supprimer définitivement les informations qu’ils
                contiennent.</li>
        </ul>

        <h2>ARTICLE 4 – L’OBLIGATION INFORMATION ET LE RESPECT DU CONSENTEMENT</h2>
        <p>La Société garanti les droits d’accès, de rectification et d’opposition de leurs données qui existaient déjà
            avant l’application du RGPD. Elle garanti également le droit à la limitation du traitement, le droit à
            l’oubli, le droit à la portabilité des données ou le droit à l’effacement des données. La protection des
            mineurs de moins de 16 ans est également renforcée. Le consentement du titulaire de l’autorité parentale
            doit être donné. À chaque collecte de données, la personne concernée doit être informée du fondement
            juridique sur lequel le traitement est effectué, de ses droits sur le traitement (limitation, portabilité et
            recours) et des modalités exactes du traitement de ses données. Ces informations doivent être visibles et
            accessibles sur le site internet où les données sont collectées, ou le cas échéant, sur les supports qui
            permettent la collecte des données contrats signés, etc.</p>

        <h2>ARTICLE 5 – FINALITÉS DES DONNÉES COLLECTÉES</h2>
        <p>Seules les données nécessaires et pertinentes au regard des finalités poursuivies sont collectées, dans le
            respect du principe de proportionnalité et ce afin d’améliorer la qualité des produits ou services que la
            Société propose. La Société ne collectera que les données adéquates, pertinentes et strictement nécessaires
            à la finalité du traitement. Les données identifiées comme étant obligatoires sont nécessaires afin de
            pouvoir bénéficier des fonctionnalités correspondantes et plus spécifiquement des opérations sur les
            contenus proposés au sein de l’entreprise. Cette politique concerne la Société et ses sites, les
            applications, les logiciels et services édités par la Société et/ou utilisant son interface ou ses
            fonctionnalités.</p>

        <h2>ARTICLE 6 – UTILISATION DES DONNÉES COLLECTÉES</h2>
        <p>Les Données collectées par l’entreprise sont traitées pour les besoins d’exécution des opérations sur les
            contenus du service. Cette utilisation repose sur l’un des fondements juridiques prévus par la loi soit:</p>
        <ul>
            <li>la protection des intérêts légitimes de l’entreprise,</li>
            <li>l’exécution d’un contrat conclu ou d’un engagement,</li>
            <li>le respect d’une obligation légale ou réglementaire,</li>
            <li>la préservation de l’intérêt public, comme la prévention ou la détection d’une fraude ou d’un délit
                financier.</li>
        </ul>
        <p>En aucun cas, les données ne seront traitées d’une manière incompatible avec ces finalités, sauf à recueillir
            un accord préalable.</p>

        <h2>ARTICLE 7 – SÉCURITÉ DES DONNÉES</h2>
        <p>Les données personnelles recueillies par la Société ne sont en aucun cas cédées, louées ou échangées à des
            tiers, à l’exception des partenaires et filiales de la Société, à moins que cela n’ait été clairement précisé
            lors de la collecte des données concernées. Toutefois les données pourront être divulguées en application
            d’une loi, d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente ou
            encore, si cela s’avère nécessaire, aux fins de préserver ses droits et intérêts. Par ailleurs la Société
            pourra, le cas échéant, transmettre des informations si elle acquiert une autre société ou fait l’objet d’un
            rachat, d’une fusion, d’une absorption, d’un regroupement ou d’une réorganisation de quelque nature que ce
            soit. Tout utilisateur ouvrant un compte est invité à créer un identifiant ou pseudo et un mot de passe. Ce
            mot de passe doit impérativement rester secret et il doit limiter l’accès à son ordinateur ou aux appareils
            mobiles et se déconnecter à la fin de l’utilisation des services. Les données personnelles étant
            confidentielles, la société limite leur accès aux seuls collaborateurs de la société ou prestataires ayant
            besoin dans le cadre de l’exécution du traitement. Toutes les personnes ayant accès aux données personnelles
            sont liées par un devoir de confidentialité et s’exposent à des mesures disciplinaires et/ou autres sanctions
            si elles ne respectent pas ces obligations.</p>

        <h2>ARTICLE 8 – DURÉE DE CONSERVATION DES DONNÉES</h2>
        <p>Les données sont stockées et conservées pour la durée nécessaire à la réalisation des finalités visées. Les
            données personnelles seront ainsi conservées pour la période pendant laquelle les Salariés de la Société
            utilisent les services support desdites données. Les données précitées sont supprimées au plus tard 5 ans à
            compter du dernier contact avec la personne ou les Salariés à l’origine desdites données.</p>

        <h2>ARTICLE 9 – LES DROITS CONCERNÉS</h2>
        <p>La Société entend respecter l’intégralité des droits à l’égard du traitement de données Personnelles vis-à-vis
            de Salariés :</p>
        <ul>
            <li>le droit d’être informé sur l’utilisation des Données Personnelles ;</li>
            <li>le droit d’accéder aux informations personnelles recueillies auprès des Salariés de la Société ;</li>
            <li>le droit de demander la correction des Données Personnelles inexactes, incomplètes, équivoques ;
                périmées pour les Salariés de la Société ;</li>
            <li>la possibilité d’exiger la transférabilité (droit à la portabilité) des données à un autre
                fournisseur/utilisateur de service ;</li>
            <li>le droit de définir des directives relatives au sort des Données Personnelles après la mort ;</li>
            <li>le droit de déposer le cas échéant des plaintes justifiées et dûment motivées auprès de l’autorité
                nationale en charge de la protection des données Personnelles.</li>
        </ul>

        <h2>ARTICLE 10 – SANCTION EN CAS DE NON-CONFORMITÉ</h2>
        <p>En cas de manquement aux obligations imposées par le RGPD, les entreprises concernées peuvent se voir infliger
            une amende pouvant atteindre 20 millions d’euros ou 4% du chiffre d’affaires mondial pour les entités les
            plus importantes. La CNIL pourra émettre des réponses en cas de violation de la réglementation comme des
            mises en demeure ou des avertissements.</p>

        <h2>ARTICLE 11 – INFORMATION DU SALARIÉ ET PUBLICITÉ</h2>
        <p>La présente Charte sera affichée publiquement en annexe du règlement intérieur et sera communiquée
            individuellement à chaque Salarié de la Société. Elle sera également disponible sur le site internet de la
            Société.</p>

        <h2>ARTICLE 12 – ENTRÉE EN VIGUEUR DE LA CHARTE</h2>
        <p>La présente Charte est applicable dès la date de sa publication.</p>
    </div>
</body>

</html>
